<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is a 404 page </h1>
    <span>status:[[${status}]]</span><br/>
    <span>timestamp:[[${timestamp}]]</span><br/>
    <span>error:[[${error}]]</span><br/>
    <span>exception:[[${exception}]]</span><br/>
    <span>message:[[${message}]]</span><br/>
    <!--<span>errors:[[${errors}]</span><br/>-->
    <span>company:[[${company}]]</span><br/>
    <span>extend:[[${extend}]]</span><br/>
</body>
</html>